<footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 py-3">
          <h3>XYZcompany</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero amet, repellendus eius blanditiis in iusto eligendi iure.</p>

          <div class="social-media-button">
            <a ><span class="mai-logo-facebook-f"></span></a>
            <a ><span class="mai-logo-twitter"></span></a>
            <a ><span class="mai-logo-google-plus-g"></span></a>
            <a ><span class="mai-logo-instagram"></span></a>
            <a ><span class="mai-logo-youtube"></span></a>
          </div>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Company</h5>
          <ul class="footer-menu">
            <li><a [routerLink]="['/about-us']">About Us</a></li>
            <li><a >Career</a></li>
            <li><a >Advertise</a></li>
            <li><a >Terms of Service</a></li>
            <li><a >Help & Support</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Contact Us</h5>
          <p>huse no 935 shubhash colony ballabgarh fairdabad haryana india 121004</p>
          <a  href="#" class="footer-link">+91 901-769-7290</a>
          <a href="#" class="footer-link">khannyaz1705@gmail.com.com</a>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Newsletter</h5>
          <p>Get updates, news or events on your mail.</p>
          <form action="#">
            <input type="text" class="form-control" placeholder="Enter your email..">
            <button type="submit" class="btn btn-success btn-block mt-2">Subscribe</button>
          </form>
        </div>
      </div>

      <p class="text-center" id="copyright">Copyright &copy; 2020. This template design and develop by <a  >XYZ company </a></p>
    </div>
  </footer>